@import "variables.less";
@import "mixins/grid.less";

// break point references (large has been adjusted from default 1200 to 1000 to adjust to original site design)

// @media(max-width:767px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1000px){}

// @media(max-width: @screen-xs-max){}
// @media(min-width: @screen-sm-min){ * { outline: 1px solid pink } }
// @media(min-width: @screen-md-min){ * { outline: 1px solid orange } }
// @media(min-width: @screen-lg-min){ * { outline: 1px solid blue } }

// * { outline: 1px solid #ccc; }

.orange { color: @orange; }

// settings
a:link,
a:visited,
a:hover,
a:active { color: #20316a; }

h1, h2, h3, h4, h5, h6 {
	color: #991e0e;
	font-weight: normal;
	a:link,
	a:visited,
	a:hover,
	a:active { color: #20316a; }
}

table {
	tbody {
		tr {
			td { border: none; padding: 0; }
		}
	}
}

// structure
body { background-color: #fff; color: @text-color; padding-bottom: 0; }

// type
body, p, ol, ul, dl, dt, table { font-family: @font-family-bitter; }
h1, h2, h3, h4, h5, h6 { font-family: @font-family-cursive; }

// general
// img { width: 100%; }

// header & logo
#header {
	background: #1b150d url(../img/bg-nav.jpg) repeat-x top center;
	#logo {
		background: #f8f7f6; /* Old browsers */
		background: -moz-linear-gradient(top,  #f8f7f6 0%, #958782 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f7f6), color-stop(100%,#958782)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f8f7f6 0%,#958782 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f8f7f6 0%,#958782 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f8f7f6 0%,#958782 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f8f7f6 0%,#958782 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f7f6', endColorstr='#958782',GradientType=0 ); /* IE6-9 */
		box-shadow: 0 3px 0 #333;
		display: block;
		margin-bottom: -100px;
		padding: 20px;
		position: relative;
		z-index: 2;
		img { width: 100%; }
	}
	#social {
		margin-right: 60px;
		ul { margin: 0; padding: 0; text-align: center; }
		li { display: inline-block; list-style: none; margin: 0; padding: 0; }
		a { background-color: blue; display: block; font-size: 24px; height: 0; line-height: 1em; overflow: hidden; padding-top: 45px; width: 45px; }
		a:hover {  }
	}

	// hero
	#hero-side {
		background-color: #222;	
	}

	#hero {
		background-color: pink;
	}

	@media(max-width: @screen-xs-max){
		#logo {
			// background: #1b150d;
			background: transparent;
			border-bottom: 1px solid #cc;
			box-shadow: none;
			margin-bottom: 0;
			text-align: center;
			img { max-width: 250px; }
		}
	}
	@media(min-width: @screen-md-min){}
}

// slider
#slider {
	h3 { display: none; }
	.metaslider .slides img { display: block; width: 100%; }
}

// nav - primary
.navbar {	
	background-color: transparent;
	border: none;
	margin: 0;
	.navbar-collapse {		
		clear: both;
	}
	ul {
		color: #afaeac;
		font-family: @font-family-bitter;
		font-size: 21px;
		font-style: italic;
		font-weight: bold;
		margin: 0;
		padding: 15px 0;
		li { display: inline-block; line-height: 1em; list-style: none; margin: 0 1px; padding: 0; position: relative; }		
		@media(min-width: @screen-sm-min){
		li:hover {
			a { background-color: #6c0900; }
			}
		}

		li:last-child { border: none;
			// a { padding: 0 5px 0 10px }
		}
		a { color: #afaeac; display: inline-block; line-height: 1em; padding: 5px 13px; }		
		a:hover { text-decoration: none; }
	}
	@media(max-width: @screen-xs-max){
		.navbar-collapse {
			background-color: #1a1a1a;
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
		}
		ul {			
			float: none !important;
			text-align: left;
			li { border: none; display: block; }
			a,
			li:last-child a { padding: 15px 10px; text-decoration: none !important; }
		}
	}

	@media(min-width: @screen-sm-min){}
	@media(min-width: @screen-md-min){}

}


	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle .icon-bar { color: #fff; border: none; text-decoration: none !important; }
	.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus { background-color: #5a0800; }

	#menu-primary-navigation {
		a{ transition: all linear 0.15s; }
		// li:hover .sub-menu { z-index:1; opacity:1; }
		.current-menu-item a,
		.current-menu-parent a { color: #d28a23; text-decoration: underline; }

		.sub-menu { text-align: left; background-color: #6c0900; box-shadow: 0 2px 1px #111; padding:0; transition: opacity linear 0.15s;
			li { border: none; display: block; font-size: 16px; width: 100%;}
			a { border: none; box-shadow: none; display: block; line-height: 1em; padding: 10px; text-align: left; text-transform: none; width: 200px; }
			a:hover { background-color: #5a0800; }
			.current-menu-item a { background: #5a0800; box-shadow: none; color: #fff; text-decoration: underline; }
		}
	}

	// START RUSI CODE
	#menu-primary-navigation .sub-menu,
	#menu-primary-navigation .children {
		position: absolute;
		left: -2px;
		margin-left: 2px;
		z-index: 99999;
		height: 1px;
		width: 1px;
		overflow: hidden;
		// clip: rect(1px, 1px, 1px, 1px);
		box-shadow: 0 3px 3px #333;
		border-radius: 0 0 2px 2px;
		opacity: 0;
		visibility: hidden;
		padding: 0;
	}

	ul#menu-primary-navigation li:hover > ul,
	#menu-primary-navigation ul li:hover > ul {
		// clip: inherit;
		overflow: inherit;
		height: inherit;
		width: inherit;
		opacity: 1;
		visibility: visible;
	}
	// END RUSI CODE

	// @media(max-width: @screen-lg-max){
	// 	.navbar ul { font-size: 21px; }
	// }

	@media(max-width: @screen-sm-max){
		.navbar ul { font-size: 15px; }
		#menu-primary-navigation .sub-menu li { font-size: 15px; }
	}

	@media(max-width: @screen-xs-max){		
		.navbar ul { font-size: 21px; }
		.navbar .navbar-collapse { background: transparent; }
		#menu-primary-navigation .sub-menu {
			background-color: transparent;
			box-shadow: none;
			display: block;
			margin: 0 0 5px;
			opacity: 1;
			position: static;
			width: 100%;
			z-index: 1;
			li { margin-bottom: 5px; }
			a { border-left: 1px solid; margin-left: 7px; padding: 10px 0 10px 10px; width: 100%; }
			a:hover { text-decoration: underline; }
		}
	}


// slider
.metaslider {
	margin: 0 auto;
	max-width: inherit !important;
	div.flexslider { margin: 0; }
	// dot nav
	.flex-control-nav {
		bottom: 10px;
		z-index: 10;
	}

	// legacy
	.flex-direction-nav {
		a { background: transparent url(../img/sprite-slider-arrows.png) no-repeat; height: 67px; margin: -40px 0 0; width: 37px; }
		.flex-prev {
			left: 30px;
    		opacity: 1;
		}
		.flex-next {
			background-position: -42px 0;
			right: 30px;
    		opacity: 1;
		}
	}
	.flexslider:hover .flex-prev { left: 30px; opacity: 1; }
	.flexslider:hover .flex-next { right: 30px; opacity: 1; }
}

// hero 
#wrapper-hero {
	.row { margin: 0; }
	#hero { padding: 0; }
}

// feature
#feature {
	img { border: 2px solid #000; height: auto; margin-bottom: 15px; width: 100%; }
}

// video & blog
#video-blog {
	background-color: #91837d;	
	h2 { color: #fff;
		font-size: 25px;
		text-shadow: 1px 2px 0 #333;
		img { margin-right: .25em; }
	}
	#videos {
		.video { background-color: #c5b9b3; border: 1px solid #333; margin-bottom: 30px; min-height: 250px;
			h3 { margin-top: 30px; font-size: 18px; text-align: center; }
		}
	}
	#blog {
		h2 { 
			img { position: static; }
		}
		ul,
		li { list-style: none; margin: 0; padding: 0; }
		    
	    .post-date { display: none; }
	    ul { margin: 0; padding: 0; }
	    li { background: #c5b9b3 url(/wp-content/themes/faulkners/img/ph-home-feature.jpg) no-repeat; border: 1px solid #333; list-style: none; height: 250px; margin: 0 30px 30px 0; overflow: hidden; padding: 0; position: relative; }
	    .shade { background-color: #404041; background: url(/wp-content/themes/faulkners/img/bg-shade.png); background: rgba(64, 64, 65, .5); height: 250px; padding: 15px; position: relative; top: 145px; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; width: 100% }      
	    .shade h3 {
	    	color: #fff;
	    	font-size: 17px;
	    	// height: 75px;
	    	line-height: 24px;			
	    	margin-top: 0;
	    	overflow: hidden;
	    	text-shadow: 1px 2px 0 #333;
			a { color: #fff; }
	    }
	    .shade p { color: #fff; display: none; }
	    .shade:hover p { display: block; }


	    img { max-height: 250px; position: absolute; width: inherit; z-index: 0; }

	    li:hover p { display: block; }
	    li:hover .shade { top: 0; }

	    .link-readmore { color: #fff; display: block; font-size: 21px; font-style: normal; font-weight: bold; margin-top: 15px; text-align: left; text-decoration: underline; }    
		
	}	
}

// belt
#belt {
	background: #8c1d0f url(../img/bg-belt.png) repeat-x;
	color: #fff;
	font-family: @font-family-cursive;
	font-size: 28px;
	height: 102px;
	line-height: 38px;
	overflow: hidden;
	padding-top: 15px;
	text-align: center;	
	text-shadow: 2px 2px 0 rgba(26, 26, 26, .75);
	span { color: #d7902b; display: block; }
	@media(max-width: @screen-sm-max){
		background-image: none;
		font-size: 21px;
		height: auto;
		line-height: 28px;
		padding-bottom: 15px;
	}
}

// newsletter
#newsletter {
	background: #8c1d0f url(../img/bg-belt.png) repeat-x;
	color: #fff;	
	min-height: 102px;
	line-height: 38px;
	overflow: hidden;
	padding: 30px 0;
	text-align: center;	
	text-shadow: 2px 2px 0 rgba(26, 26, 26, .75);
	input[type="submit"] {
		background: #f7a501; /* Old browsers */
		background: -moz-linear-gradient(top,  #f7a501 0%, #c37400 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7a501), color-stop(100%,#c37400)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f7a501 0%,#c37400 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f7a501 0%,#c37400 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f7a501 0%,#c37400 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f7a501 0%,#c37400 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a501', endColorstr='#c37400',GradientType=0 ); /* IE6-9 */
		border: none;
		border-radius: 2px;
		box-shadow: 0 2px 0 #333;
		color: #fff;
		font-family: @font-family-cursive;
		font-size: 24px;
		padding: 2px 3%;
		text-shadow: 0 2px 0 #333;
		width: 94%;
		@media(max-width: @screen-sm-max){
			font-size: 18px;	
		}
	}
	input[type="email"] {
		border: none;
		border: 1px solid #fff;
		box-shadow: 0 2px 3px #999 inset;
		font-size: 24px;
		font-weight: normal;
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
	}	
	@media(max-width: @screen-xs-max){
		background-image: none;
	}
}

// map
#map {
	background: #e9e5db url(../img/bg-map.jpg) no-repeat center center;	
	border-top: 2px solid #707070;
	padding: 15px 0;	
	#form-quickform {
		color: #fff;
		form { position: relative; }
		div.wpcf7-validation-errors { background-color: #f7e700; }
		div.wpcf7-mail-sent-ok { background-color: green; color: #fff; }
		span.wpcf7-not-valid-tip { background-color: #f00; border-radius: 2px; color: #fff; padding: 2px 8px; }
		div.wpcf7 img.ajax-loader {
			bottom: 20px;
			position: absolute;
		}
		p { margin: 0; padding: 0; }
		h3 {
			background-color: rgba(47, 42, 36, 0.75);
			color: #d7902b;
			font-family: @font-family-cursive;
			font-size: 25px;
			line-height: 1em;
			margin: 0;
			padding: 15px;
			text-align: center;
			text-shadow: 0 2px 0 #000;
		}
		.textwidget {
			background-color: rgba(47, 42, 36, 0.75);
			padding: 20px;
		}
		input[type="text"],
		input[type="tel"],
		input[type="email"],
		textarea {
			margin-bottom: 10px;
			width: 100%;
		}	
		textarea { height: 75px; }	
		.captcha-281,
		.wpcf7-captchac { float: left; }
		.captcha-281 { margin-left: 5%; width: 70%; }
		.wpcf7-captchac { width: 25%; }
		input[type="submit"] {
			background-color: #6f0a00; border: 2px solid #ffd289; clear: both; color: #fff; display: block; font-family: @font-family-cursive; font-size: 17px; line-height: 21px; margin: 10px auto; padding: 10px 15px; text-shadow: 0 2px 0 #000; text-align: center; text-transform: uppercase;
		}
	}
	@media(max-width: @screen-xs-max){
		background-image: none;
	}
}

// grid
#grid {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #91837d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#91837d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#91837d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#91837d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#91837d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#91837d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#91837d',GradientType=0 ); /* IE6-9 */	
	.grid-item {
		background-color: rgba(111, 94, 79, 0.5); margin-bottom: 40px; padding: 13px 0 20px;
		h3 {
			margin-top: 0;
			padding-top: 0;
			text-align: center;
			a { color: #fff; font-size: 23px; text-shadow: 2px 2px 0 #333; }
			@media(max-width: @screen-sm-max){
				a { font-size: 19px; }
				img { display: none; }
			}
		}
		p { margin: 0 20px; padding: 0;
			img { border: 1px solid #fff; box-shadow: 1px 2px 0 #333; height: auto; width: 100% }
		}		
	}
	.grid-item.darker { background-color: rgba(111, 94, 79, 0.75); }
	.container {
		margin-bottom: 0;
		margin-top: 40px;
	}
	@media(max-width: @screen-sm-max){
		.col-xs-6 { padding-left: 5px; padding-right: 5px; }
		.grid-item {
			border-radius: 2px;
			margin-bottom: 15px;
			p { margin: 0 10px; }
		}
	}
}


// content - secondary
#content-secondary {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #91837d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#91837d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#91837d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#91837d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#91837d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#91837d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#91837d',GradientType=0 ); /* IE6-9 */	
	font-size: 17px;
	#content-secondary-liner {
		background-image: url(../img/bg-content-fence.png);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;		
		@media(min-width: @screen-xs-min){
			padding: 35px 30px 175px;
		}
		@media(min-width: @screen-sm-min){
			padding: 35px 30px 275px;
		}
		@media(min-width: @screen-md-min){
			padding: 35px 30px 375px;
		}
		@media(min-width: @screen-lg-min){
			padding: 35px 30px 475px;
		}
	}
	h1.page-header {
		border: none;
		font-size: 26px;
		line-height: 1.25em;
		margin: 0 0 .5em;
		padding: 0;
	}
	h2 { font-size: 18px; }

	.wpcf7 form {
		position: relative;
		img.ajax-loader {
			position: absolute;
		}
	}
	textarea,
	input { border: 1px solid #9b9b9b; font-size: 15px; margin-bottom: .75em; padding: 3px; width: 100%; }
	input[type="submit"] { background-color: #6f0a00; border: 2px solid #ffd289; clear: both; color: #fff; display: block; font-family: @font-family-cursive; font-size: 17px; line-height: 21px; margin-top: 10px; padding: 10px 15px; text-shadow: 0 2px 0 #000; text-align: center; text-transform: uppercase; width: inherit; }	

	.wpcf7-captchac,
	.captcha-282 { float: left; }
	.wpcf7-captchac { border: 1px solid #000; margin-right: 10px; }
	.captcha-282 { width: 250px }

	div.wpcf7-response-output { margin: 0; }
	div.wpcf7-validation-errors { background-color: #f7e700; font-size: 14px; }
	div.wpcf7-mail-sent-ok { background-color: green; color: #fff; font-size: 14px; }
	span.wpcf7-not-valid-tip { background-color: #f00; border-radius: 2px; color: #fff; font-size: 14px; padding: 2px 8px; }

	#column-right {
		h3 { font-size: 18px; margin-top: 0; }
		.widget-body {
			font-size: 14px;
			margin-bottom: 15px;
			padding-bottom: 15px;			
		}
	}

	@media(max-width: @screen-xs-max) {
		#column-right {
			border-top: 1px solid #ccc;
			margin-top: 30px;
			padding-top: 30px;
		}
	}
}

// blog
.type-post {
	border-bottom: 1px solid #999;
	margin-bottom: 60px;
	padding-bottom: 30px;
	text-shadow: 0 1px 0 #c5b9b3;
	div[style="text-align: center;"],
	div[style="min-height: 18px; text-align: center;"] { text-align: left !important; }
	.text-right { font-size: 14px; margin-top: 10px; text-align: left;
		// a { color: #666; }
	}
	div[style="background-color: white;"] { background-color: transparent !important; }
	div.separator { margin: 15px 0;
		img { border-radius: 2px; }
	}
	img {
		border-radius: 2px;
		height: auto;
		margin: 15px 0;
		width: 100%;
	}
	@media(max-width: @screen-xs-max) {
		// img {
		// 	height: auto;
		// 	width: 100%;
		// }
	}
}

.type-post > .text-right:first-child { margin-top: 30px; }

// footer top
#footer-top {
	background: #91837d url(../img/bg-footer-top.png) no-repeat bottom center;
	border-top: 5px solid #d7902b;
	color: #fff;
	min-height: 115px;
	padding-bottom: 15px;
	h3 { color: #d7902b; font-family: @font-family-bitter; font-weight: bold; }
	#footer-contact {
		margin-top: 45px;
		h3 { font-family: @font-family-cursive; }
	}
	#footer-story {
		margin-top: 45px;
		h3 { display: none; }
		a { color: #e9e5dc; display: block; text-decoration: underline; }
		span { color: #d7902b; display: block; font-size: 21px; }
		a[href="/about-us"] { background: transparent url(../img/icon-story.png) no-repeat; font-size: 21px; padding: 4px 0 10px 45px; }
	}
	@media(max-width: @screen-xs-max){
		background-image: none;
		#footer-contact { margin-top: 10px; }
		#footer-story { margin-top: 15px; }
	}
}

// footer
footer#footer {
	background: #231f20;
	color: #fff;
	padding-bottom: 45px;
	padding-top: 5px;
	text-align: center;
	h3 { color: #d7902b; font-size: 19px; }
	a { color: #fff; text-decoration: none; }
	a:hover { text-decoration: underline; }

	#social {
		ul {
			margin: 0 0 20px;
			padding: 0;
			text-align: center;
			li { display: inline; list-style: none; }
			li a { background: transparent url(../img/sprite-social.png); display: inline-block; height: 0; margin: 0 7px; overflow: hidden; padding-top: 40px; width: 40px; }
			li#social-facebook a { background-position: -56px 0; }
			li#social-pinterest a { background-position: -112px 0; }
			li#social-youtube a { background-position: -169px 0; }
			li#social-instagram a { background-position: -224px 0; }
		}		
	}
	
	@media(max-width: @screen-sm-max){}
	@media(max-width: @screen-xs-max){}
}