@import "bootstrap.less";
// @import "variables.less";

// @media(max-width: $screen-xs-max){}
// @media(min-width: @screen-sm-min){ * { outline: 1px solid pink !important; } }
// @media(min-width: @screen-md-min){ * { outline: 1px solid orange !important; } }
// @media(min-width: @screen-lg-min){ * { outline: 1px solid blue !important; } }

body { display: block; font-family: @font-family-sans-serif; overflow-x: hidden; padding-bottom: 0; }
#page.offtop {
	@media(min-width: @screen-sm-min){
		margin-top: 123px;
	}
}

div[id$="-content"]{ .make-row(); }
div[id$="-container"] { .container(); }
div[id^="section-"] { background-position: center center; overflow: auto; padding: 30px 0; }

.callout-dark() {
	background-image: url(../img/btn-bg-dark.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.callout-light() {
	background-image: url(../img/btn-bg-light.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.callout-red {
	background-color: #971C1E;
	background-image: url(../img/btn-bg-light.png) !important;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	font-size: 18px;
	margin: 0 auto;
	display: block;
	padding: 7px 5px;
	max-width: 220px;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	text-shadow: 1px 1px 3px #000;
	&:hover {
		background: #fcb55c !important;
		color: #fff;
		text-decoration: none;
	}
}

// transition classes
.tilt-left {
	-ms-transform: rotate(-14deg); /* IE 9 */
    -webkit-transform: rotate(-14deg); /* Chrome, Safari, Opera */
    transform: rotate(-14deg);
    transition: all linear 0.15s;
}

// typography {
h1, h2, h3, h4, h5, h6 { font-family: @font-family-sans-serif; }

.page-title,
.post .title,
.page .title,
.entry-title {
	@media (min-width: @screen-sm-min) {
		font-size: 36px !important;
	}
}

header#header {
	// grid
	#logo { .make-sm-column(2); }
	#nav-primary { .make-sm-column(10); }
	#user-actions { .make-sm-column(6); .make-sm-column-push(6);
		@media(min-width: @screen-lg-min){
			.make-sm-column(5); .make-sm-column-push(7);
		}
	}
	#tagline { .make-sm-column(8);}
	#social { .make-sm-column(4); }

	#user-actions-content,
	#nav-content,
	#tagline-content { margin-left: 0; margin-right: 0; }

	// style
	background-color: #2c2929;
	padding-bottom: 0;
	padding-top: 0;
	#nav-primary { padding-left: 0; padding-right: 0; }
	@media(min-width: @screen-sm-min){
		background: #2c2929 url(../img/bg-header-x.gif) repeat-x;
		max-height: 132px;
	}

	#logo {
		text-align: center;
		padding-top: 10px;
		z-index: 2;
		a { display: block; position: relative; z-index: 1; }
		@media(min-width: @screen-sm-min){
			padding-top: 0;
			text-align: left;
			img {
				position: absolute;
				height: auto;
				width: 150%;
				max-width: inherit;
				top: 10px;
				left: -25px;
				transition: width 1s linear 0s;
			}
		}
		@media(min-width: @screen-md-min){
			img {
				width: 125%;
			}
		}
		@media(min-width: @screen-lg-min){
			img {
				// position: static;
				left: -10px;
				width: 115%;
			}
		}
	}

	#nav-content {
		font-family: @font-family-sans-cond;
		font-size: 18px;
		text-transform: uppercase;
	}

	#user-actions {
		color: #fcb45c;
		font-family: @font-family-sans-serif;
		font-size: 12px;
		padding-left: 0;
		padding-right: 0;
		transition: height 1s linear 0s;
		ul { border: 1px solid #fcb45c; margin-left: 0; margin-top: 10px; padding: 10px 0; text-align: center;
			@media(min-width: @screen-sm-min){
				margin-top: 0;
				margin-bottom: 15px;
				.pull-right();
				width: 380px;
			}
			@media(max-width: 767px){
				width: 100%;
				max-width: 400px;
				padding: 10px 5px 10px 5px;
				margin: 0 auto 15px auto;
				display: block;
			}
		}
		li { float: none; display: inline-block; width: 49%;
			@media(min-width: @screen-sm-min){
				width: initial;
			}
			@media(max-width: 450px){
				width: 100%;
				text-align: center;
				border: none !important;
				font-size: 20px;
				margin-bottom: 5px;
			}
		}
		a { border-right: 1px solid; color: #fcb45c; padding-right: 15px;
		@media(max-width: 450px){
				border: none !important;
			}
		}
			li:last-child a { border: none; padding-right: 0; }

		@media(min-width: @screen-sm-min){
			ul {
				border-top: none;
				// li { width: inherit; }
			}
		}
	}

	#tagline-content {
		#tagline {
			color: #2c2929;
			font-family: @font-family-overlock;
			font-size: 16px;
			font-style: italic;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 1.5em;
			margin: 0;
			padding-top: 10px;
			@media(min-width: @screen-md-min){
				font-size: 18px;
				letter-spacing: 1px;
				line-height: 1.2em;
				padding-left: 20px;
			}
			@media(min-width: @screen-lg-min){
				padding-left: 30px;
			}
			&.new {
				width: 100% !important;
				text-align: center;
				padding-bottom: 9px;
				padding-top: 7px;
			}
		}

		#social {
			ul { margin: 0; padding: 0;
				li { list-style: none; margin: 0; padding: 0; }
				a { background: transparent url(../img/sprite-social-top.png) no-repeat; display: block; height: 0; margin: 0 3px; overflow: hidden; padding-top: 26px; width: 26px; }
				li#facebook a {}
				li#twitter a { background-position: -32px 0; }
				li#youtube a { background-position: -64px 0; }
				li#google-plus a { background-position: -96px 0; }
			}
			@media(min-width: @screen-md-min){
				position: relative;
				top: -3px;
			}
		}
	}
}

#header.new-header {
	#mobile-headline {
		display: none;
	}
	.navbar-header {
		a.location {
			display: none;
		}
		a.call-now {
			display: none;
		}
	}
	@media(max-width: @screen-sm-min){
		background: url(../img/bg-header-mobile.jpg) no-repeat;
		background-size: cover;
		#header-content {
			overflow: hidden;
			padding: 20px 0;
			margin-top: 30px;
		}
		#header-phone {
			display: none;
		}
		#user-actions-content {
			display: none;
		}
		#logo {
			width: 50%;
			float: left;
		}
		#mobile-headline {
			width: 50%;
			float: left;
			color: #fff;
			text-align: center;
			font-size: 14px;
			font-weight: 700;
			display: block !important;
			padding-top: 25px;
			span {
				font-family: 'Satisfy',cursive;
				font-size: 32px;
			}
			p {
				color: #fff;
			}
		}
		.navbar {
			margin-top: 0;
		}
		#nav-primary {
			position: fixed;
			z-index: 100000;
			top: 0;
			left: 0;
			width: 100%;
		}
		.navbar-toggle {
			float: left;
			font-size: 10px;
			line-height: 2.3em;
			font-weight: 400;
			margin-bottom: 12px;
			height: 46px;
			margin-top: 0px;
			padding-top: 12px;
			text-transform: uppercase;
			.icon-bar {
				width: 25px;
			}
		}
		.navbar-header {
			a.location {
				display: block;
				float: left;
				font-size: 10px;
				margin-top: 10px;
				padding-top: 25px;
				background: url(../img/icon-location.png) no-repeat;
				background-size: 15px;
				background-position: top center;
				color: #fff;
				margin-left: 5px;
			}
			a.call-now {
				display: block;
				float: right;
				padding-top: 10px;
				padding-right: 10px;
			}
		}
	}
}

header#header {
	&.offtop {
		position: fixed;
		width: 100%;
		z-index: 10000;
		top: 0;
		@media(max-width: @screen-sm-min){
			position: relative;
		}
		#user-actions {
			height: 20px;
			ul {
				display: none;
			}
		}
		#tagline {
			display: none;
		}
		#logo {
			img {
				width: 60%;
				transition-timing-function: ease;
			}
		}
	}
}

// slider
#slider { .hidden-xs();
	h3 { display: none; }
	.metaslider {
		min-height: 250px;
		.flexslider { margin: 0; }
		.caption-wrap {
			background: transparent;
			bottom: 10%;
			font-size: 70px;
			left: 5%;
			line-height: 76px;
			opacity: 1;
			text-align: center;
			text-shadow: 2px 2px 0 #000;
			width: 40%;
			font-family: NexaRustScriptB-03;
			a { border: 2px solid #fff; color: #fff; display: inline-block; font-size: 22px; line-height: 1em; padding: 5px 15px 8px; text-transform: uppercase; font-family: @font-family-sans-serif;}
			a:hover { background-color: rgba(255, 255, 255, 0.25); text-decoration: none; }
			@media(max-width: 1400px){
				font-size: 54px;
				line-height: 60px;
			}
			@media(max-width: 1200px){
				font-size: 48px;
				line-height: 56px;
			}
			@media(max-width: 950px){
				font-size: 42px;
				line-height: 48px;
			}
			@media(max-width: 700px){
				font-size: 38px;
				line-height: 44px;
			}
		}
	}
	.flex-control-nav {
		bottom: 20px;
		z-index: 999;
		li a { background-color: #ddd; background-color: rgba(255,255,255,0.3); }
	}
	.flex-control-paging li a.flex-active { background-color: #fff; background-color: rgba(255,255,255,0.9); }
}

	// slider - secondary
	.slider-secondary {
		min-height: 37px; /* compensates for secondary-nav negative bottom margin */
	}

// featured image
#featured-image,
#shopping-featured-image {
	img { height: auto; margin: 0; width: 100%; }
	@media(max-width: @screen-sm-max){
		display: none;
	}
}

#featured-image {
	@media (min-width: 1390px) {
		height: 500px;
	  overflow: hidden;
	  position: relative;
		> img {
		  position: absolute;
		  bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

// funnel
#section-funnel {
	#funnel-content { margin: 15px 0; }
	color: #6f0f11;
	font-size: 28px;
	padding: 30px 0 0;
	text-align: center;
	text-transform: uppercase;
	ul { margin: 0; padding: 0; text-align: center;
		li {
			display: inline-block;
			float: none;
			margin: 0 5px 1em;
			transition: all linear .5s;
			a { background: transparent url(../img/sprite-funnel.png) no-repeat; color: #6f0f11; display: block; height: 0; font-family: @font-family-sans-cond; line-height: 1em; margin-bottom: 1em; padding-top: 170px; width: 160px; }
			@media(min-width: @screen-md-min){
				margin-left: 10px;
				margin-right: 10px;
			}
			@media(min-width: @screen-lg-min){
				margin-left: 30px;
				margin-right: 30px;
			}
		}
		li:hover { position: relative; top: -15px; }
		li#fnl-market a { background-position: 0 0 }
		li#fnl-online a { background-position: -210px 0 }
		li#fnl-to-go a { background-position: -420px 0 }
		li#fnl-cater a { background-position: -630px 0 }
		li#fnl-turkey a { background-position: -840px 0 }
		&.stacked {
			li {
				@media(max-width: @screen-sm-min){
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
	}
	/* Float Shadow */
	.hvr-float-shadow {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  position: relative;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	}

	.hvr-float-shadow:before {
	  pointer-events: none;
	  position: absolute;
	  z-index: -1;
	  content: '';
	  top: 100%;
	  left: 5%;
	  height: 10px;
	  width: 90%;
	  opacity: 0;
	  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	  /* W3C */
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform, opacity;
	  transition-property: transform, opacity;
	}
	.hvr-float-shadow:hover,
	.hvr-float-shadow:focus,
	.hvr-float-shadow:active {
	  -webkit-transform: translateY(-5px);
	  transform: translateY(-5px);
	  /* move the element up by 5px */
	}
	.hvr-float-shadow:hover:before,
	.hvr-float-shadow:focus:before,
	.hvr-float-shadow:active:before {
	  opacity: 1;
	  -webkit-transform: translateY(40px);
	  transform: translateY(40px);
	  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
	}
}

// Funnel Mobile
#funnel-mobile {
	display: none;
	@media(max-width: @screen-sm-min){
		display: block;
		padding: 20px 0;
	}
	ul {
		max-width: 341px;
		display: block;
		margin: 0 auto;
		width: 100%;
		padding: 0;
		li {
			width: 100%;
			float: none;
			list-style-type: none;
			a {
				display: block;
				width: 100%;
				height: 56px;
				background-size: cover;
				background-repeat: no-repeat !important;
				margin-bottom: 10px;
			}
		}
		@media(max-width: @screen-sm-min){
			li#fm-local-market a {background: url(../img/mobile-local-market.jpg);}
			li#fm-weekly-specials a {background: url(../img/mobile-weekly-specials.jpg);}
			li#fm-turkey-order-form a {background: url(../img/mobile-turkey-orders.png);}
			li#fm-holiday-order-form a {background: url(../img/mobile-holiday-order.jpg);}
			li#fm-steak-shipping a {background: url(../img/mobile-steak-shipping.jpg);}
			li#fm-bbq a {background: url(../img/mobile-bbq-menu.jpg);}
			li#fm-catering a {background: url(../img/mobile-catering.jpg);}
			li#fm-gift-cards a {background: url(../img/mobile-gift-cards.jpg);}
			li#fm-turkey a {background: url(../img/mobile-catering.jpg);}
		}
	}
}




// sections - home
#section-daily-dish {
	background-color: #edece5;
	border-top: 1px solid #ccc;
	@media(min-width: @screen-sm-min){
		background: #edece5 url(../img/bg-daily-dish.jpg) no-repeat;
		background-size: cover;
	}
	#feed-twitter {
		// grid
		.make-sm-column(5);

		// style
		text-align: center;
		@media(min-width: @screen-sm-min){
			img#logo-dd { max-width: 285px; }
		}
		#feed {
			background-color: #ebebeb;
			box-shadow: 1px 1px 1px #666;
			margin: 15px 0;
			padding: 13px;
			text-align: left;
			h3 { display: none; }
			h4 { color: #6f0f11; font-family: @font-family-sans-serif; font-size: 21px; font-weight: normal; line-height: 1em; margin-bottom: 0; text-align: center; }
			#feed-liner {
				background-color: #fff;
				padding: 5px 10px;
			}
		}
		.light .tweets-intent-data {
			border: none;
			text-align: right;
			li { width: inherit !important; }
		}
		.seperator_wpltf,
		.stats-narrow { display: none; }
		.tweets_avatar img { margin-right: 5px; }
		.times { position: absolute; bottom: 10px; left: 0; }
		.fetched_tweets > li { border-top: 1px solid #ccc; border-radius: 0 !important; box-shadow: none; margin-bottom: 0; padding: 8px 0 0 !important; position: relative; }
		.fetched_tweets .tweets_avatar:first-child { border: none; }
		.fetched_tweets .tweets_avatar:last-child { margin-bottom: 0;
			@media(min-width: @screen-sm-min){
				display: none;
			}
			@media(min-width: @screen-md-min){
				display: block;
			}
		}
	}
	#specials {
		.make-sm-column(7);
	}
	.left,
	.right { .make-xs-column(6);
		padding-bottom: 2.5%;
		padding-top: 2.5%;
		@media(min-width: @screen-sm-min){
			padding-bottom: 5%;
			padding-top: 5%;
		}
		// @media(min-width: @screen-lg-min){
		// 	padding-bottom: 5%;
		// 	padding-top: 5%;
		// }
	}
	.left {
		@media(min-width: @screen-sm-min){
			padding-left: 10%;
			padding-right: 0;
		}
	}
	.right { text-align: right; }
	.left.hidden-xs {
		margin: 0;
		@media(min-width: @screen-sm-min){
			padding-left: 10%;
			padding-right: 0;
		}
		text-align: center;
		img {
			box-shadow: 2px 2px 3px #666;
			-ms-transform: rotate(-14deg); /* IE 9 */
		    -webkit-transform: rotate(-14deg); /* Chrome, Safari, Opera */
		    transform: rotate(-14deg);
			@media(min-width: @screen-lg-min){
				margin-left: 25%;
			}
		}
	}
	.right.hidden-xs { margin: 0; text-align: center;
		img {
			box-shadow: 2px 2px 3px #666;
			-ms-transform: rotate(14deg); /* IE 9 */
		    -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
		    transform: rotate(14deg);
		    @media(min-width: @screen-lg-min){
				margin-right: 25%;
			}
		}
	}
	@media(min-width: @screen-sm-min){
		.right,
		.left { margin-top: 2em; }
	}
	@media(min-width: @screen-lg-min){
		.left { text-align: right; }
		.right { text-align: left; }
	}

}

.row .inner {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
	overflow: visible;
}

#home-specials {
	padding: 70px 15px;
	background-color: #edece5;
	border-top: 1px solid #ccc;
	@media(min-width: @screen-sm-min){
		background: #edece5 url(../img/bg-daily-dish.jpg) no-repeat;
		background-size: cover;
	}
	.img-rotate {
		img {
			transform: rotate(14deg);
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.arrow {
		padding-top: 25px;
	}
}

#home-steak-shipping {
	@media(min-width: @screen-sm-min){
		background: url(../img/bg-fine-meats-2.jpg) no-repeat;
		background-size: cover;
	}
	#steak {
		img {
			position: relative;
			margin-top: -40px;
			display: block;
			width: 100%;
			height: auto;
			max-width: 660px;
			float:right;
		}
	}
	#logo-callout {
		padding-top: 45px;
	}
	ul { margin: 0; padding: 0;
		li { list-style: none; margin: 0 0 15px; padding: 0; }
		a.callout { color: #fff; .callout-dark(); display: block; font-size: 23px; font-weight: bold; line-height: 1em; margin: 0 auto; max-width: 300px; padding: 8px 25px; text-align: center; text-shadow: 1px 1px 0 #2b2b27;
			@media(min-width: @screen-sm-min){
				font-size: 21px;
			}
			@media(min-width: @screen-md-min){
				font-size: 23px;
			}
		}
		li#fm-instore a { background-color: #fcb55c; }
		li#fm-steak-ship a { background-color: #b0131d; }
	}
}

#home-fresh-catch {
	background-position: top;
	@media(min-width: @screen-sm-min){
		background: url(../img/bg-fresh-catch-2.jpg) no-repeat;
		background-size: 130%;
		background-position: top;
	}
	@media(max-width: 1420px){
		background-position: -300px 0;
		background-size: 150%;
	}
	padding-top: 60px;
	padding-bottom: 25px;
	a.callout {
		background: #375027;
		.callout-light();
		color: #fff; display: block; font-size: 29px; font-weight: bold; line-height: 1em; margin: 15px auto; padding: 8px 25px; text-align: center; text-shadow: 1px 1px 0 #2b2b27; text-transform: uppercase; width: 250px;
		@media(min-width: @screen-sm-min){
			font-size: 24px;
			margin: 175px auto 0;
		}
		@media(min-width: @screen-md-min){
			margin: 20px auto 0;
			padding: 12px 35px;
		}
		@media(min-width: @screen-lg-min){
			margin: 20px auto 0;
		}
	}
	h3 { color: #6f0304; font-family: @font-family-sans-serif; font-size: 30px; line-height: 35px; font-style: italic; font-weight: 800; margin: 0; text-align: center; text-shadow: 0 0 2px #fff, 0 0 1px #fff;
		@media(min-width: @screen-sm-min){
			font-size: 28px;
			margin-top: 0;
		}
		@media(min-width: @screen-md-min){
			font-size: 34px;
			line-height: 1.3em;
			margin-bottom: .25em;
		}
		@media(min-width: @screen-lg-min){
			font-size: 42px;
			line-height: 1.3em;
			margin-bottom: .25em;
			margin-top: 3%;
		}
	}
	h4 { color: #375027; font-family: @font-family-sans-serif; font-size: 22px; font-weight: bold; margin: 0; text-align: center; text-shadow: 0 0 2px #fff, 0 0 1px #fff; }
	@media(min-width: @screen-lg-min){
		background-position: center -30px;
		padding-bottom: 120px;
	}
}

#choice-rewards-section {
	background: #4a4446;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #fff;
	h2 {
		font-family: 'Satisfy',cursive;
		font-size: 64px;
		color: #fff;
		margin-top: 0;
		font-weight: 400;
	}
	h3 {
		font-size: 28px;
		font-weight: 600;
		color: #fff;
		max-width: 1000px;
		margin: 0 auto 15px auto;
		text-rendering: optimizeLegibility;
		-webkit-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern";
		font-feature-settings: "kern";
	}
	p {
		font-size: 16px;
		color: #fff;
	}
	img {
		width: 100%;
		margin: 15px auto;
		display: block;
		max-width: 800px !important;
		height: auto;
	}
	a.rewards-callout { color: #fff; .callout-dark(); display: block; font-size: 23px; font-weight: bold; line-height: 1em; margin: 20px auto 0 auto; max-width: 300px; padding: 8px 25px; text-align: center; text-shadow: 1px 1px 0 #2b2b27; background-color: #fcb55c;
			@media(min-width: @screen-sm-min){
				font-size: 21px;
			}
			@media(min-width: @screen-md-min){
				font-size: 23px;
			}
	}
	#rewards-buttons {
		margin: 0 auto;
		overflow: hidden;
		max-width: 700px;
		.col-sm-7 {
			padding-top: 48px;
		}
	}
}

#section-fine-meats {
	border-bottom: 1px solid #555;
	border-top: 1px solid #555;
	overflow: visible;
	padding-bottom: 90px;
	#fine-meats-content { text-align: center;
		// grid
		#logo-callout { .make-sm-column(4); }
		#steak { .make-sm-column(8); }

		// style
		@media(min-width: @screen-sm-min){
			#logo-callout {
				img {
				    margin-bottom: 30px;
				    margin-left: -30px;
				}
			}
		}
		#steak { position: relative;
			img { position: absolute; right: 0; top: -80px;
				@media(min-width: @screen-sm-min){
					top: -60px;
					right: -20px;
				}
				@media(min-width: @screen-md-min){
					height: auto;
					width: 75%;
					// top: -100px;
					right: 20px;
				}
			}
		}
	}
	background-color: #070706;
	@media(min-width: @screen-sm-min){
		background: #070706 url(../img/bg-fine-meats-w-steak.jpg) no-repeat center center;
	}
	@media(min-width: @screen-md-min){
		background-size: cover;
	}
	ul { margin: 0; padding: 0;
		li { list-style: none; margin: 0 0 15px; padding: 0; }
		a.callout { color: #fff; .callout-dark(); display: block; font-size: 23px; font-weight: bold; line-height: 1em; margin: 0 auto; max-width: 300px; padding: 8px 25px; text-align: center; text-shadow: 1px 1px 0 #2b2b27;
			@media(min-width: @screen-sm-min){
				font-size: 21px;
			}
			@media(min-width: @screen-md-min){
				font-size: 23px;
			}
		}
		li#fm-instore a { background-color: #fcb55c; }
		li#fm-steak-ship a { background-color: #b0131d; }
	}
}

#section-best-sellers {
	// grid
	#best-seller-logo {	.make-xs-column(12); }
	#best-seller-list { .make-xs-column(12);
		// li { .make-sm-column(4); }
	}

	// style
	overflow: hidden;
	#best-seller-logo { text-align: center; margin: 1.25em 0 2em; }
	@media(min-width: @screen-sm-min){
		padding-bottom: 75px;
	}
	#best-seller-list { margin: 0; padding: 0;
		div {
			.bs-item {
				box-shadow: 1px 1px 1px #666;
				margin: 0 auto 3px;
				max-width: 400px;
				@media(min-width: @screen-sm-min){
					margin: 0 10px 3px;
				}
				h3 { background-color: #2c2929; color: #fff; font-family: @font-family-sans-serif; font-size: 26px; font-weight: bold; margin: 15px 0 0; padding: 15px 0; text-align: center; text-transform: uppercase;
					a { color: #fff; }
				}
				div { background-color: #ebebeb; text-align: center; padding: 18px;
					@media(min-width: @screen-sm-min){
						padding: 9px;
					}
					@media(min-width: @screen-md-min){
						padding: 18px;
					}
					img { height: auto; margin-bottom: 15px; width: 100%; }
					a.shop { .callout-light(); background-color: #fcb55c; color: #fff; display: inline-block; font-size: 20px; padding: 3px 25px; text-align: center; text-shadow: 1px 1px 0 #2c2929; text-transform: uppercase; }
				}
			}
		}
		.slick-prev {
			background: url(../img/bs-scroll-prev.png);
			display: block;
			height: 0;
			left: -45px;
			overflow: hidden;
			padding-top: 76px;
			top: 45%;
			width: 36px;
		}
		.slick-next {
			background: url(../img/bs-scroll-next.png);
			display: block;
			height: 0;
			right: -45px;
			overflow: hidden;
			padding-top: 76px;
			top: 45%;
			width: 36px;
		}
		.slick-prev,
		.slick-next { opacity: .5; }
		.slick-prev:hover,
		.slick-next:hover { opacity: 1; }
		.slick-dots li button:before { font-size: 16px; }
	}
}

#section-fresh-catch {
	// grid
	#fresh-catch-logo { .make-xs-column(12); .make-sm-column(4); }
	#fresh-catch-details { .make-xs-column(12); .make-sm-column(8); }

	// style
	border-top: 1px solid #ccc;
	overflow: visible;
	#fresh-catch-logo { position: relative; text-align: center;
		@media(min-width: @screen-sm-min){
			img {
				left: 20px;
				position: absolute;
				top: -78px;
			}
		}
		@media(min-width: @screen-md-min){
			img { left: 0; width: 115%; }
		}
	}
	a.callout {
		background: #375027;
		.callout-light();
		color: #fff; display: block; font-size: 29px; font-weight: bold; line-height: 1em; margin: 15px auto; padding: 8px 25px; text-align: center; text-shadow: 1px 1px 0 #2b2b27; text-transform: uppercase; width: 250px;
		@media(min-width: @screen-sm-min){
			font-size: 24px;
			margin: 175px auto 0;
		}
		@media(min-width: @screen-md-min){
			margin: 325px auto 0;
			padding: 12px 35px;
		}
		@media(min-width: @screen-lg-min){
			margin: 395px auto 0;
		}
	}
	h3 { color: #6f0304; font-family: @font-family-sans-serif; font-size: 30px; line-height: 35px; font-style: italic; font-weight: 800; margin: 0; text-align: center; text-shadow: 0 0 2px #fff, 0 0 1px #fff;
		@media(min-width: @screen-sm-min){
			font-size: 28px;
			margin-top: 0;
		}
		@media(min-width: @screen-md-min){
			font-size: 36px;
			line-height: 40px;
			margin-bottom: .25em;
		}
		@media(min-width: @screen-lg-min){
			font-size: 46px;
			line-height: 55px;
			margin-bottom: .25em;
			margin-top: 3%;
		}
	}
	h4 { color: #375027; font-family: @font-family-sans-serif; font-size: 22px; font-weight: bold; margin: 0; text-align: center; text-shadow: 0 0 2px #fff, 0 0 1px #fff; }

	background: #e2e0e1;
	@media(min-width: @screen-sm-min){
		background: #e2e0e1 url(../img/bg-fresh-catch.jpg) no-repeat;
		background-size: cover;
		padding-bottom: 60px;
	}
	@media(min-width: @screen-lg-min){
		background-position: center center;
		padding-bottom: 120px;
	}
}

#section-blog {
	// grid
	#blog-items { .make-md-column(8); }
	#logo-callout { .make-md-column(4); }

	// style
	background-color: #6f0304;
	padding: 15px 0 5px;
	@media(min-width: @screen-md-min){
		background: #6f0304 url(../img/bg-mikes-blog.jpg) no-repeat;
		background-size: cover;
		padding: 45px 0 30px;
	}
	#blog-items { text-align: center;
		img.hidden-md {
			margin-bottom: 15px;
			-ms-transform: rotate(10deg); /* IE 9 */
		    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
		    transform: rotate(10deg);
		}
		.media { text-align: left; }
	}
	#logo-callout {
		-ms-transform: rotate(10deg); /* IE 9 */
	    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
	    transform: rotate(10deg);
		text-align: right;
		top: -25px;
		position: relative;
	}
	h2 { display: none; }
	h3 {
		border-bottom: 1px solid #872f31;
		font-family: @font-family-sans-serif;
		font-size: 27px;
		font-weight: bold;
		margin: 0 0 .25em;
		padding-bottom: .25em;
		a { color: #2c2929; }
	}
	ul {
		margin: 0; padding: 0;
		li { background-color: #fff; box-shadow: 0 0 10px #530f11; list-style: none; margin: 0 0 15px; padding: 14px; }
	}
	.media {
		img {
			height: auto;
			margin-bottom: 15px;
			max-width: 300px;
			width: 100%;
			@media(min-width: @screen-sm-min){
				height: inherit;
				margin: inherit;
				width: inherit;
			}
		}
		.media-left {
			display: block;
			padding-right: 0;
			text-align: center;
			@media(min-width: @screen-sm-min){
				display: table-cell;
				padding-right: 15px;

			}
		}
		.media-body {
			display: block;
			padding-right: 0;
			@media(min-width: @screen-sm-min){
				display: table-cell;
			}
			.link-read-more {
				color: #730f11; display: block; font-size: 14px; font-weight: bold; text-align: right;
			}
		}
	}
}

#section-bbg-to-go {
	padding-top: 70px;
	padding-bottom: 40px;
	// grid
	#burger { .make-sm-column(5); }
	#bbq-to-go-logo { .make-sm-column(7); }

	// style
	overflow: visible;
	@media(min-width: @screen-sm-min){
		background: transparent url(../img/bg-bbq-to-go.jpg) no-repeat;
		background-size: cover;
	}
	#burger {
		img {
			height: auto;
			left: -20px;
			max-width: inherit;
			position: absolute;
			top: -85px;
			width: 120%;
			z-index: 1;
			@media(min-width: @screen-lg-min){
				width: 110%;
			}
		}
	}
	#bbq-to-go-logo {
		text-align: center;
		img {
			-ms-transform: rotate(3deg); /* IE 9 */
		    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
		    transform: rotate(3deg);
		    margin-bottom: 10px;
		}
	}
	a.callout { background-color: #613a31; .callout-light(); color: #fff; display: block; font-size: 32px; font-weight: bold; line-height: 1em; margin: 15px 0; padding: 8px 25px; position: relative; text-align: center; text-shadow: 1px 1px 0 #2b2b27; text-transform: uppercase; transition: all linear .5s;
		@media(min-width: @screen-sm-min){
			display: inline-block;
			font-size: 28px;
			padding: 8px 25px;
		}
	}
	h3 { color: #2c2929; font-family: @font-family-satisfy; font-size: 46px; position: relative; text-shadow: 1px 1px 0 #f8b25b; transition: all linear .5s;
		@media(min-width: @screen-sm-min){
			font-size: 36px;
		}
		@media(min-width: @screen-md-min){
			font-size: 46px;
		}
	}
	@media(min-width: @screen-md-min){
		padding-bottom: 60px;
	}
}

#section-timeline {
	border-bottom: 7px solid #231f20;
	color: #2c2929;
	padding: 30px 0 60px;
	text-align: center;
	#timeline-liner { background: transparent url(../img/timeline-horz-line.png) repeat-x 0 156px;
		@media(min-width: @screen-md-min){
			background-position: 0 166px;
		}
	}
	@media(min-width: @screen-sm-min){
		background: transparent url(../img/bg-timeline.gif) no-repeat;
		background-size: cover;
	}
	h3 { font-family: @font-family-satisfy; font-size: 38px; height: 50px; margin-bottom: 30px; text-shadow: 3px 3px 0 #c3aa8f;
		@media(min-width: @screen-md-min){
			font-size: 50px;
			height: 60px;
		}
	}
	ul { font-size: 36px;
		li {
			.make-sm-column(3);
			background: transparent url(../img/timeline-vert-line.png) no-repeat center 50px;
			font-family: @font-family-satisfy;
			h4 { font-family: @font-family-satisfy; font-size: 36px; line-height: 1em; margin-bottom: 60px;
				@media(min-width: @screen-md-min){
					margin-bottom: 120px;
				}
			}
			.tl-item {
				background-color: #fff;
				border: 1px solid #2c2929;
				border-radius: 50%;
				margin: 0 auto;
				max-width: 213px;
				overflow: hidden;
				position: relative;
				text-align: center;
				img { border-radius: 50%; }
				p { display: none; font-family: @font-family-sans-serif; font-size: 14px; position: absolute; }
			}
			@media(min-width: @screen-md-min){
				.tl-item:hover {
					img { opacity: .2; }
					p { display: block; padding: 45px 15px; top: 0; }
				}
			}
		}
		@media(min-width: @screen-md-min){
			font-size: 48px;
		}
	}
}

#section-footer-buckets {
	// grid
	#steak-shipping, #gift-ideas  { .make-sm-column(6); }
	#gift-cards, #in-store-packages { .make-sm-column(6); }
    .container-fluid {max-width: 1140px;}
	// style
	background-color: #ebebeb;
	padding: 40px 0 25px;
	#steak-shipping, #gift-ideas { text-align: left;
		@media(min-width: @screen-sm-min){
			.row { margin-right: 0; }
			.col-xs-12 {
				padding-top: 3%;
			}
		}
		img {
			// sorry for this, positioning this was a bit twitchy...
			height: auto;
			left: -5%;
			margin-top: 30%;
			max-width: 100%;
			position: relative;
			width: 115%;
			@media(min-width: @screen-lg-min){
				margin-top: 15%;
			}
			@media(min-width: 1400px){
				margin-top: 10%;
			}
		}
	}
	#gift-cards, #in-store-packages { text-align: left;
		@media(min-width: @screen-sm-min){
			.row { margin-left: 0; }
			.col-xs-12 {
				padding-top: 3%;
			}
		}
		img {
			margin-top: 20%;
			max-width: 100%;
				@media(min-width: @screen-lg-min){
					margin-top: 25%;
				}
				@media(min-width: 1400px){
					margin-top: 20%;
				}
		}
	}
	.row { background-color: #fff; box-shadow: 0 0 3px #ddd; margin-bottom: 15px; padding-bottom: 15px; }
	h3 { color: #231f20; font-family: @font-family-sans-serif; font-size: 28px; font-weight: bold; text-align: left; text-transform: uppercase; margin-top: 0;}
	a.callout { background-color: #971c1d; .callout-light(); color: #fff; display: block; font-size: 22px; font-weight: bold; line-height: 1em; margin: 15px 0; padding: 8px 25px 12px; text-align: center; text-shadow: 1px 1px 0 #2b2b27;
		@media(min-width: @screen-sm-min){
			display: inline-block;
		}
	}
	@media(min-width: @screen-sm-min){
		.row { min-height: 270px; }
	}
	@media(min-width: @screen-md-min){
		.row { min-height: 308px; }
	}
	@media(max-width: @screen-sm-max){
		display: none;
	}
}

body.page-id-16 #section-footer-buckets {
	@media(max-width: @screen-sm-max){
		display: block;
	}
}

#footer {
	&.row {
		@media (max-width: @screen-xs-max) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.inner {
		overflow: hidden;
		padding-bottom: 40px;
		padding-left: 10px;
		padding-right: 10px;
	}
	&.new {
		padding-bottom: 0px;
	}
	#footer-left {
		text-align: center;
		color: #fff;
		img {
			display: block;
			margin: 0 auto 20px auto;
			height: auto;
			max-width: 210px;
			width: 100%;
		}
		address {
			font-weight: 300;
			line-height: 1.4em;
			font-size: 24px;
			margin-bottom: 10px;
		}
		phone {
			font-weight: 700;
			font-size: 32px;
			a {
				color: #fff;
			}
		}
		a.callout { color: #fff; .callout-dark(); display: block; font-size: 30px; font-weight: bold; line-height: 1em; margin: 20px auto 0 auto; max-width: 250px; padding: 8px 25px; text-align: center; text-shadow: 1px 1px 3px #2b2b27; background-color: #fcb55c; text-transform: uppercase;
			@media(min-width: @screen-sm-min){
				font-size: 23px;
			}
			@media(min-width: @screen-md-min){
				font-size: 26px;
			}
	}
	}
	#footer-right {
		#map-hours {
			display: table;
			@media(max-width: @screen-sm-min){
				display: block;
			}
		}
		text-align: center;
		h2 {
			font-size: 35px;
			color: #fff;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 18px;
			@media(max-width: 1051px){
				font-size: 27px;
				margin-bottom: 27px;
			}
			@media(max-width: @screen-sm-min){
				display: block;
				margin: 20px auto 5px auto;
				max-width: 95%;
			}
		}
		h3 {
			font-style: italic;
			font-size: 34px;
			color: #6f0304;
			@media(max-width: 945px){
				font-size: 26px;
				margin-bottom: 27px;
			}
		}
		#map {
			display: table-cell;
			float: none;
			padding-top: 0;
			padding-bottom: 0;
			.inner {
				background: url(/wp-content/uploads/2017/07/map.jpg) no-repeat;
				background-size: cover;
				height: 320px;
				margin-bottom: -320px;
				@media(max-width: @screen-sm-min){
					margin-bottom: 0;
				}
			}
			img {
				width: 100%;
				height: auto;
				display: block;
			}
			@media(max-width: @screen-sm-min){
				padding: 20px 0;
				max-width: 90%;
				margin: 0 auto;
				float:none;
				display: block;
			}
		}
		#hours {
			color: #231f20;
			background: url(../img/bg-hours.jpg) no-repeat;
			background-size: cover;
			padding: 25px 10px 80px 10px;
			display: table-cell;
			float: none;
			h3 {
				margin-top: 0;
			}
			@media(max-width: @screen-sm-min){
				padding: 20px;
				max-width: 90%;
				margin: 0 auto;
				float: none;
				display: block;
			}
		}
	}
	#footer-social {
		#social { margin: 20px 0 0; padding: 0; text-align: center;
			li { display: inline-block; list-style: none;
				a {
					background: transparent url(../img/sprite-social-btm.png?v=3) no-repeat;
					display: block;
					height: 0;
					margin: 0 5px;
					overflow: hidden;
					padding-top: 46px;
					width: 46px;
					background-size: auto 46px;
					@media(min-width: @screen-sm-min){
						margin: 0;
					}
					@media(min-width: @screen-md-min){
						margin: 0 5px;
					}
				}
			}
			li#social-fb a {}
			li#social-twitter a { background-position: -50px 0; }
			li#social-youtube a { background-position: -100px 0; }
			li#social-google-plus a { background-position: -150px 0; }
			li#social-instagram a { background-position: -200px 0; }
		}
	}
	#overlay-container {
		background: rgba(0,0,0,0.35);
		width: 100%;
		max-width: initial;
	}
	#copyright {
		font-size: 12px;
		margin: 15px 0;
		a { color: #f8f3ee; }
		color: #fff;
		ul {
			margin: 0 0 1em;
			overflow: auto;
			padding: 0;
			text-align: center;
			li { float: none; display: inline-block;
				a {
					border-right: 1px solid;
					padding: 0 7px;
				}
			}
			li:last-child {
				a { border: none; padding-right: 0; }
			}
		}
		&.centered {
			text-align: center;
			p {
				color: #fff;
			}
		}
	}
}

#section-footer-banner {
	background-color: #231f20;
	border-bottom: 30px solid #444444;
	overflow: visible;
	padding: 15px 0;
	text-align: center;
	max-width: 1140px;
	margin: 0 auto;
	h3 { color: #fff; font-family: @font-family-sans-serif; font-size: 18px; font-weight: bold; margin-top: 0;
		@media(min-width: @screen-sm-min){
			font-size: 32px;
		}
		@media(min-width: @screen-md-min){
			font-size: 28px;
			line-height: 1em;
			padding-top: 15px;
			img {
				margin: -45px 0 -60px;
				position: relative;
				top: -15px;
			}
		}
	}
	a.callout { background-color: #fcb55c; .callout-dark(); color: #fff; display: block; font-size: 18px; font-weight: bold; line-height: 1em; margin: 15px 0 0; padding: 8px 25px; text-align: center; text-shadow: 1px 1px 0 #2b2b27;
		@media(min-width: @screen-sm-min){
			font-size: 23px;
			display: inline-block;
		}
		@media(min-width: @screen-md-min){
			margin: inherit;
			margin-bottom: 0;
			margin-left: 10px;
			padding: 8px 15px;
			position: relative;
			top: -3px;
		}
	}
}
#footer-top {background-color: #444444;}
footer#footer {
	// grid
	#footer-logo-details { .make-sm-column(4); }
	#footer-map { .make-sm-column(8); }

	// style
	border-top: 0;
	background-color: #3e240a;
	color: #f8f3ee;
	font-size: 18px;
	padding: 30px 0;
	p { font-family: @font-family-sans-serif; }
	#footer-logo-details { text-align: center;
		address { font-family: @font-family-sans-serif; font-size: 18px; margin: 15px 0 0; }
		p { color: #f8f3ee; font-size: 18px; }
		p#phone {
			span { white-space: nowrap; }
		}
		p#hours {
			span { text-decoration: underline; }
		}
		#social { margin: 20px 0 0; padding: 0; text-align: center;
			li { display: inline-block; list-style: none;
				a { background: transparent url(../img/sprite-social-btm.png) no-repeat; display: block; height: 0; margin: 0 5px; overflow: hidden; padding-top: 46px; width: 46px;
					@media(min-width: @screen-sm-min){
						margin: 0;
					}
					@media(min-width: @screen-md-min){
						margin: 0 5px;
					}
				}
			}
			li#social-fb a {}
			li#social-twitter a { background-position: -50px 0; }
			li#social-youtube a { background-position: -100px 0; }
			li#social-google-plus a { background-position: -150px 0; }
		}
	}
	#footer-map {
		text-align: center;
		p { color: #f8f3ee; }
		h3 { color: #f8f3ee; font-family: @font-family-sans-serif; font-size: 21px; font-weight: 700;
			@media(min-width: @screen-sm-min){
				font-size: 20px;
			}
			@media(min-width: @screen-md-min){
				font-size: 24px;
			}
			@media(min-width: @screen-lg-min){
				font-size: 30px;
			}
		}
		#copyright {
			font-size: 12px;
			margin: 15px 0;
			a { color: #f8f3ee; }
			ul {
				margin: 0 0 1em;
				overflow: auto;
				padding: 0;
				text-align: center;
				li { float: none; display: inline-block;
					a {
						border-right: 1px solid;
						padding: 0 7px;
					}
				}
				li:last-child {
					a { border: none; padding-right: 0; }
				}
			}
		}
	}
	iframe { width: 100%; }
	background: #3e240a url(../img/bg-footer.jpg) no-repeat;
	background-size: cover;
	@media(min-width: @screen-sm-min){
		background: #3e240a url(../img/bg-footer.jpg) no-repeat;
		background-size: cover;
	}
}

// page content
// page content - overrides
#secondary-nav-wrapper {
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: -37px;
	min-height: 37px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	#secondary-nav { .make-sm-column(10); .make-sm-column-push(2);
		color: #fff;
		font-family: @font-family-sans-cond;
		font-size: 16px;
		height: 37px;
		a { color: #fff; font-size: 16px; line-height: 2.2em; padding: 5px 8px; }
		a:first-child { padding-left: 0; }
		h3 { display: none; }
		ul { margin: 0; padding: 0;
			li { display: inline-block; list-style: none; margin: 0; padding: 0; }
		}
	}
	#secondary-nav {
		li.current_page_item a { text-decoration: underline; }
		.menu-primary-navigation-container {
			@media(min-width: @screen-md-min){
				padding-left: 7px;
			}
			@media(min-width: @screen-lg-min){
				padding-left: 15px;
			}
		}
	}
}

#main-container {
	// margin-left: -15px;
	// margin-right: -15px;
	section#main {
		padding: 30px 15px;
		@media(min-width: @screen-sm-min){
			padding: 30px 15px;
		}
		@media(min-width: @screen-md-min){
			padding: 45px 15px;
		}
		@media(min-width: @screen-lg-min){
			padding: 60px 15px;
		}
		// typography
		h1, h2, h3, h4, h5, h6 { font-family: @font-family-sans-serif; }
		.page-title,
		.post .title,
		.page .title { font-family: @font-family-sans-serif; margin-top: 0; }
	}
	.entry,
	.entry p { font-family: @font-family-sans-serif; }
}

// blog content
.blog,
.single,
.archive {
	// #comments { display: none; }
	#main-container {
		section#main {
			.make-sm-column(8);
			h1#title-blog {
				border-bottom: 1px solid #eee;
				color: #971c1d;
				font-size: 36px;
				font-style: italic;
				font-weight: 800;
				margin-top: 0;
				margin-bottom: 30px;
				padding-bottom: 15px;
				text-transform: uppercase;
			}
			h2#link-return-to-blog {
				a {
					color: #971c1d;
					display: block;
					font-size: 16px;
					margin-bottom: 30px;
					text-decoration: underline;
				}
			}
			.post {
				margin-bottom: 45px;
				.post-meta {
					margin-bottom: 10px;
				}
			}
			#post-author {
				margin-top: 30px;
				padding: 5px 15px 15px;
			}
		}
		section#secondary {
			.make-sm-column(4);
			border-top: 1px solid #eee;
			padding-bottom: 15px;
			padding-top: 15px;
			@media(min-width: @screen-sm-min){
				border: none;
				padding-bottom: 10px;
				padding-top: 10px;
			}
			@media(min-width: @screen-md-min){
				padding-bottom: 25px;
				padding-top: 25px;
			}
			@media(min-width: @screen-lg-min){
				padding-bottom: 40px;
				padding-top: 40px;
			}
			h1, h2, h3, h4, h5, h6 { font-family: @font-family-sans-serif; }

			.widget-sidebar {
				margin-bottom: 30px;
				h3 { color: #971c1d; font-style: italic; font-weight: 800; }
				ul { padding-left: 20px; }
			}
		}
	}
}

.archive {
	.archive_header {
		margin-bottom: 30px;
		padding-bottom: 15px;
	}
	#post-author { display: none; }
}

// products
.woocommerce-page.one-col-960 {
	&.post-type-archive-product {
		h1.page-title { margin-top: 0; }
	}
	&.single-product {
		section#main {
			padding: 30px 15px;
			@media(min-width: @screen-sm-min){
				padding: 30px 15px;
			}
			@media(min-width: @screen-md-min){
				padding: 45px 15px;
			}
			@media(min-width: @screen-lg-min){
				padding: 75px 15px;
			}
			h1.product_title {
				margin-bottom: .25em;
				margin-top: 0;
			}
		}
	}
	#main-sidebar-container {
		width: 100%;
		@media(min-width: @screen-sm-min){
			width: 750px;
		}
		@media(min-width: @screen-md-min){
			width: 970px;
		}
		@media(min-width: @screen-lg-min){
			width: 1170px;
		}
	}
	section#main {
		padding: 10px 15px;
		@media(min-width: @screen-sm-min){
			padding: 10px 15px;
		}
		@media(min-width: @screen-md-min){
			padding: 15px 15px;
		}
		@media(min-width: @screen-lg-min){
			padding: 30px 15px;
		}
		h1.product_title {
			margin-bottom: .25em;
			margin-top: 0;
		}
	}

	.images {
		img { border-radius: 3px; }
	}
	.quantity .qty {
		background-color: lightgoldenrodyellow;
		border: 1px solid #aaa;
		border-radius: 4px;
		font-size: 18px;
		height: 34px;
	}
	.single_add_to_cart_button {
		.btn();
		.btn-success();
	}
	.woocommerce-product-rating { margin: 15px 0 10px;
		.star-rating {
			font-size: 1.5em;
			letter-spacing: .2em;
			margin: 10px 0 5px;
			width: 5.7em;
		}
	}
	.commentlist { padding-left: 0; }
	#reviews .comment-text {
		float: none;
		width: 100%;
	}
	ul.tabs { padding-left: 0; }
	.woocommerce-message {
		.wc-forward { .btn(); .btn-success(); }
	}
}

// product river
ul.products {
	li.product a img { border-radius: 3px; }
	.add_to_cart_button { .btn(); .btn-default(); }
}

// top rated products
.shop-right-column {
	margin-bottom: 45px;
	h3 { margin-top: 0 }
	select[name="product_cat"] {
		.form-control();
	}
}
.product_list_widget {
	border-bottom: 1px solid #eee;
	margin: 0 0 30px;
	overflow: auto;
	padding: 15px;
	background-color: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #eee;
	li {
		.col-xs-4();
		float: left;
		list-style: none;
		margin: 0 0 15px;
		padding: 0;
		text-align: center;
		img {
			border-radius: 2px;
			height: inherit;
			margin-bottom: 10px;
			width: inherit;
			@media(min-width: @screen-sm-min){
				height: auto;
				width: 90px;
			}
		}
		span.product-title {
			font-size: 14px;
			font-weight: bold;
			display: block;
			margin: 0 auto;
			max-width: 180px;
			@media(min-width: @screen-xs-max){

			}
		}
		.star-rating {
			margin: 10px auto;
		}
		@media(min-width: @screen-sm-min){
			float: none;
			width: 100%
		}

	}
	@media(min-width: @screen-xs-max){

	}
}

// cart
#top-cart {
	font-size: 16px;
	text-align: right;
	padding: 15px 0 0;
	a {
		&:hover {
			background-color: #f1f1f1;
		}
		border-radius: 3px;
		padding: 7px 15px;
		text-decoration: none;
	}
}
.woocommerce-cart {
	.shop_table { .table(); .table-bordered();
		input[name="coupon_code"] { .form-control(); }
		input[name="apply_coupon"] { .btn(); .btn-primary(); }
		input[name="update_cart"] { .btn(); .btn-default(); }
		td.actions {
			background-color: #f9f9f9;
			box-shadow: 0 3px 3px -2px #eee inset;
		}
		a.remove { line-height: 1em; border-radius: 2px; font-size: 18px; font-weight: bold; height: inherit; padding: 6px 10px; width: inherit; }
		img { border-radius: 6px; margin: 0; padding: 0; width: 75px; }
	}
	.woocommerce-shipping-calculator {
		select[name="calc_shipping_state"],
		select[name="calc_shipping_country"],
		input[name="calc_shipping_postcode"] { .form-control(); }
		button[name="calc_shipping"] { .btn(); .btn-primary(); }
	}
	a.checkout-button { .btn(); .btn-success(); }
}

// checkout
.woocommerce-checkout {
	.woocommerce {
		.woocommerce-billing-fields,
		.shipping_address,
		.checkout_coupon {
			select,
			textarea,
			input { .form-control(); }
		}
		textarea[name="order_comments"] { .form-control(); height: 100px; }
		.select2-container .select2-choice { border-radius: 4px; height: 34px; padding: 5px 8px; }

		input[name="apply_coupon"] { .btn(); .btn-primary(); }
		input[name="woocommerce_checkout_place_order"] { .btn(); .btn-success(); }
		.shop_table { .table(); .table-bordered(); }

		// redeclare overridden status borders...
		.form-row.woocommerce-validated .input-text,
		.form-row.woocommerce-validated .chzn-single { border-color: #080; }
		.form-row.woocommerce-invalid .input-text,
		.form-row.woocommerce-invalid .chzn-single { border-color: #c00; }

		// adjust small input spacing...
		input[type="radio"],
		input[type="checkbox"] { margin: 4px 4px 0; }
	}
	.login {
		input#username,
		input#password { .form-control(); }
		input[name="login"]{ .btn(); .btn-primary(); margin-bottom: 15px; }
	}
}

// account
.woocommerce-account {
	.lost_reset_password {
		input#user_login { .form-control(); }
		input[type="submit"] { .btn(); .btn-primary(); }
	}
}

// nav - primary
.navbar {
	background-color: transparent;
	border: none;
	margin: 3px 0 0;
	min-height: inherit;
	.navbar-collapse {
		clear: both;
	}
	@media(min-width: @screen-sm-min){
		margin-bottom: 16px;
	}
	ul {
		color: #fff;
		margin: 0;
		padding: 0;
		li { display: block; line-height: 1em; list-style: none; margin: 5px 0; padding: 0; position: relative; }
		a { color: #fff; display: block; line-height: 1em; padding: 5px 0; }
		a:hover { text-decoration: none; }
		@media(min-width: @screen-sm-min){
			li,
			a { display: inline-block; }
			li { margin: 0; }
			a { padding: 5px 10px; }
		}
	}
}

	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle .icon-bar { color: #fff; border: none; text-decoration: none !important; }
	.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus { background-color: #6f0f11; }

	.navbar-default .navbar-collapse { background-color: #6f0f11; border: none;
		@media(min-width: @screen-sm-min){
			background-color: transparent;
		}
	}

	.navbar-header { background-color: #6f0f11; }

	#menu-primary-navigation {
		a { transition: all linear 0.15s;
			@media(min-width: @screen-sm-min){
				font-size: 15px;
				padding: 5px 3px;
			}
			@media(min-width: @screen-md-min){
				font-size: 18px;
				padding: 5px 7px;
			}
			@media(min-width: @screen-lg-min){
				padding: 5px 15px;
			}
		}
		.current-menu-item a,
		.current-menu-parent {
			a { color: #fff; text-decoration: underline; }
			.sub-menu {
				a { color: #fff; text-decoration: none; }
			}
		}

		.sub-menu { text-align: left; box-shadow: none; padding:0; transition: opacity linear 0.15s;
			@media(min-width: @screen-sm-min){
				background-color: #2c2929;
			}
			li { border: none; display: block; font-size: 16px;
				@media(min-width: @screen-sm-min){
					 width: 200px;
				}
			}
			a { color: #fff; border: none; display: block; line-height: 1em; padding: 10px; text-align: left; text-transform: none;
				@media(min-width: @screen-sm-min){
					font-size: 15px;
					padding: 8px 3px;
				}
				@media(min-width: @screen-md-min){
					font-size: 18px;
					padding: 8px 7px;
				}
				@media(min-width: @screen-lg-min){
					padding: 8px 15px;
				}
			}
			a:hover { background-color: #580103;
				@media(min-width: @screen-sm-min){
					background-color: #111;
				}
			}
		}
	}

	@media(min-width: @screen-sm-min){
		#menu-primary-navigation > li:last-child > a { padding-right: 0; }
	}

	#menu-primary-navigation .sub-menu,
	#menu-primary-navigation .children {
		height: 1px;
		width: 1px;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
	}

	ul#menu-primary-navigation li:hover > ul,
	#menu-primary-navigation ul li:hover > ul {
		overflow: inherit;
		height: inherit;
		width: inherit;
		opacity: 1;
		visibility: visible;
	}

	@media(min-width: @screen-sm-min){
		// START RUSI CODE
		#menu-primary-navigation .sub-menu,
		#menu-primary-navigation .children {
			position: absolute;
			left: -2px;
			margin-left: 2px;
			z-index: 99999;
			box-shadow: 0 3px 3px #333;
			border-radius: 0 0 2px 2px;
			padding: 0;
		}
		// END RUSI CODE
	}

	.meat-description {width: 100%;  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.6);
    overflow:hidden;
    margin-bottom: 15px;
    padding: 10px 3.5% 3.9em 3.5%;
    }

    .meat-description {font-weight: 600;}
    .meat-description h2 {font-family: NexaRustScriptB-03 !important; padding-top: 0; padding-bottom: 10px; font-size: 26px; letter-spacing: 1.2px;}
    .meat-description p, .meat-description ul {font-weight: 600 !important; line-height: 1.5em !important; font-size: 15px !important;}
    .meat-description a {color: #fff; background: url(/wp-content/themes/mcgonigles/img/meat-button.png) #FFF repeat; padding: 5px 15px; font-size: 18px; font-weight: 700; margin-top: 8px; line-height: 30px;
      @media(max-width: 500px){
        		color: #0084b4;
        		background: none;
        		font-size: inherit;
        		font-weight: inherit;
        		padding: 0;
        		margin: 0;
        		line-height:inherit;
	        }
    }
	.meat-description a:hover {color: #fff; background: url(/wp-content/themes/mcgonigles/img/meat-button-hover.png) #270000 repeat; text-decoration: none;}
	.page-id-41 #main-container section#main {width: 75%; float: left;
	    	@media(max-width: 767px){
        		width: 100%;
	        }
	}
	#main-container section#rfk-sidebar {width: 25%; float: left; min-width: 172px; padding-top: 60px;
	        @media(max-width: 767px){
        		width: 100%;
	        }
	        @media(max-width: 1197px){
        		padding-top: 46px;
	        }
	        @media(max-width: 990px){
        		padding-top: 30px;
	        }
	}
	#main-container section#rfk-sidebar h3 {display:none;}
	#main-container section#rfk-sidebar img {width: 100%; height: auto;}
	#contact-form {width: 100%; max-width: 700px; margin: 15px auto 0 auto;}
	#contact-form.form-left {width: 100%; margin: 0; max-width: 400px;}
	#contact-form input, #contact-form textarea {width: 100%; padding: 5px; margin-bottom: 5px; color: #000; max-height: 120px;}
	#contact-form input[type="checkbox"], #contact-form input[type="radio"] {width: auto;}
	#contact-form input[type="submit"] {background-color: #971c1d; margin: 0 auto; max-width: 200px; padding: 5x 10px; display: block; color: #fff; font-size: 20px; border: 1px solid #000; font-weight: 700;}
	#contact-form input[type="submit"]:hover {background-color: #e26a2c;}
	#contact-form .wpcf7-list-item {float: none; clear: both; display: block;}
	.menu-header {text-align: center; margin-bottom: 5px; padding-bottom: 0 !important; font-size: 30px !important;}
	.menu-subheader {font-size: 16px; text-align: center; margin-top: 0;}
	.menu-section-title {border-bottom: 2px solid #000; padding-bottom: 10px; color: #ce1b25;}
	.table-list-2 {float: left; width: 50%; padding-right: 4%;
	    	@media(max-width: 650px){
        		width: 100%;
	        }
	}
	.table-list-3 {float: left; width: 33.3%; padding-right: 2.5%;
	    @media(max-width: 650px){
        		width: 100%;
	        }
	}
		.table-list-4 {float: left; width: 25%; padding-right: 2.5%;
	    @media(max-width: 650px){
        		width: 100%;
	        }
	}
	.table-list-2 ul, .table-list-3 ul, .table-list-4 ul {list-style-type: none; margin: 0; width: 100%; padding:0 0 10px 0; color: #000; font-size: 16px; overflow: visible; position: relative;}
	.table-list-2 ul li, .table-list-3 ul li, .table-list-4 ul li {text-align: left; margin:0; padding: 5px 0; border-bottom: 2px dotted #000; overflow: hidden;}
	.catering li {border-bottom: none !important; font-weight: 400 !important;}
	.bbq-hours li {border-bottom: none !important;}
	.big-strong li {font-size: 20px !important; line-height: 1.2em !important; font-weight: 700 !important;}
	.meat-description .clearer {overflow: hidden; clear: both; width: 100%; float: none;}
	h3.catering {border-bottom: none; margin-bottom: 0; padding-bottom: 0;}
	.menu-section-subtitle {border-bottom: 2px solid #000;}
	.table-list-2 ul li span, .table-list-3 ul li span, .table-list-4 ul li span {text-align: right; float: right; display: block;}
	.deli-links {list-style-type: none; padding: 0; overflow: hidden; padding-bottom: 10px;}
	.deli-links li {width: 33%; padding: 0 3%; float: left;}
	.deli-links li a {width: 100%; display: block; text-align: center; padding: 5px 0;}
	.meat-description .blue-link {background: none; color: #4d92e9; padding: 0;}
	.meat-description .blue-link:hover {background: none; color: #febb5e;}
	.menu-title {padding: 0; list-style-type: none;}
	.pricing-list li[alt]:hover:after {
  content: attr(alt);
  padding: 4px 8px;
  color: #FFF;
  font-weight: 700;
  position: absolute;
  z-index: 20;
  max-width: 400px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
left: 0;
margin-left: 40px;
margin-top: 1.5em;
text-shadow: 0 0 2px #000;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcb55c+0,e8ad66+100 */
background: #fcb55c; /* Old browsers */
background: -moz-linear-gradient(top, #fcb55c 0%, #e8ad66 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcb55c), color-stop(100%,#e8ad66)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcb55c 0%,#e8ad66 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcb55c 0%,#e8ad66 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcb55c 0%,#e8ad66 100%); /* IE10+ */
background: linear-gradient(to bottom, #fcb55c 0%,#e8ad66 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb55c', endColorstr='#e8ad66',GradientType=0 ); /* IE6-9 */
}

.alignright {margin-left: 4%;}
.specials strong {color: #ce1b53;}

#text-23 {width: 100%; background: url(../img/bg-catch-of-the-day.jpg) no-repeat; background-size: contain; max-width: 237px; min-height: 372px; overflow: hidden; margin: 0 auto 25px auto;
        @media(max-width: 992px){
                min-height: 302px;
	    }
        @media(max-width: 767px){
                margin: 0 auto 20px auto;
                min-height: 372px;
	    }
}
#text-23 .textwidget {color: #fff; font-size: 22px; padding: 190px 15px 10px 15px; text-align: center;
        @media(max-width: 992px){
                padding-top: 150px;
        		font-size: 18px;
	    }
	    @media(max-width: 767px){
                padding-top: 190px;
        		font-size: 22px;
	    }
}
#text-23 .textwidget p {color: #fff; font-weight: 400;}
#text-24 {margin-bottom: 25px;}
#text-24 a {color: #fff; background: url(/wp-content/themes/mcgonigles/img/meat-button.png) #FFF repeat; padding: 5px 15px; font-size: 20px; font-weight: 700; line-height: 30px; width: 100%; max-width: 220px; margin: 0 auto; display: block; text-align: center; text-shadow: 0 0 2px #000;
        @media(max-width: 992px){
                font-size: 16px;
	    }
        @media(max-width: 767px){
                font-size: 20px;
	    }
}
#text-24 a:hover {color: #fff; background: url(/wp-content/themes/mcgonigles/img/meat-button-hover.png) #270000 repeat; text-decoration: none;}

#fresh-seafood-list {background: url(/wp-content/themes/mcgonigles/img/bg-fresh-seafood.jpg) #270000 repeat; background-size: cover; overflow: hidden; color: #fff; margin-bottom: 20px; font-weight: 300; border: 20px solid #444;}
#fresh-seafood-list h2 {font-family: NexaRustScriptB-03 !important; color: #fff; font-size: 36px; text-align: center; font-weight: 400; display: block; margin: 0 auto;}
#fresh-seafood-list h2:before {margin-right: 2%; content: ""; background: url(/wp-content/themes/mcgonigles/img/fish-header-left.png) no-repeat; background-size: cover; width: 90px; height: 40px; display: inline-block;}
#fresh-seafood-list h2:after {margin-left: 2%; content: ""; background: url(/wp-content/themes/mcgonigles/img/fish-header-right.png) no-repeat; background-size: cover; width: 90px; height: 40px; display: inline-block;}
#fresh-seafood-list .execphpwidget {max-width: 900px; margin: 0 auto; padding: 20px; width: 100%;}
.seafood-list-item {border-bottom: 2px dotted #fff; margin: 5px 0 0 0; padding-bottom: 8px; overflow: hidden;}
.seafood-list-item .table-list-3 {width: 43%;}
.seafood-list-item .table-list-3:last-child {width: 14%; text-align: right; padding-right: 0;}
.price-unit-li {border-bottom: 2px solid #000 !important; font-weight: 700;}

.search_main input {width: 100%; padding: 5px; margin-bottom: 5px; color: #000; max-height: 120px;}
.search_main input[type="submit"] {background-color: #971c1d; margin: 0 auto; max-width: 200px; padding: 5x 10px; display: block; color: #fff; font-size: 20px; border: 1px solid #000; font-weight: 700;}
.search_main input[type="submit"]:hover {background-color: #e26a2c;}

#header-phone {display: none; font-size: 28px; text-align: center; color: #fff;
 a {color: #fff; text-decoration: underline;}
 @media(max-width: 767px){
                display: block;
                width: 100%;
                padding: 10px 5px;
	    }
}

#seafood-price-link {width: 360px; margin: 0 auto;}
#seafood-price-link a {color: #fff; background: url(/wp-content/themes/mcgonigles/img/meat-button.png) #FFF repeat; padding: 5px 15px; font-size: 18px; font-weight: 700; margin: 8px auto 15px auto; line-height: 30px; display: block; text-align: center;
      @media(max-width: 500px){
        		color: #0084b4;
        		background: none;
        		font-size: inherit;
        		font-weight: inherit;
        		padding: 0;
        		margin: 0;
        		line-height:inherit;
	        }
    }
#seafood-price-link a:hover {color: #fff; background: url(/wp-content/themes/mcgonigles/img/meat-button-hover.png) #270000 repeat; text-decoration: none;}
.woocommerce-form__label-for-checkbox span {
	margin-left: 20px;
}

@import "catering-teaser.less";

.home-notice-prominent {
	width: 100%;
	padding: 12px 8px;
	background:#6f0f11;
	color: #fff;
	font-size: 23px;
	text-align: center;
	text-shadow: 0 0 4px #000;
	line-height: 1.3em;
}
.home-notice-prominent h1,
.home-notice-prominent h2,
.home-notice-prominent h3,
.home-notice-prominent h4,
.home-notice-prominent h5,
.home-notice-prominent h6,
.home-notice-prominent p {
	color: #fff;
  }