/*
Theme Name: McGonigle's
Theme URI: http://www.mcgonigles.com
Version: 1.0.0
Description: This is a child theme of 'Canvas'. Designed and developed by MarketingXchange.com.
Author: MarketingXchange
Author URI: http://www.marketingxchange.com
Template:     canvas
*/


.out-of-stock {background-color:yellow !important; padding:3px !important; font-size:1.2em !important; font-weight:bold !important;}
#name.table-list-3 {width: 58%;}
#location.table-list-3 {width: 25%;}
#fresh-seafood-list .execphpwidget {max-width: 1000px;}
#fresh-seafood-list {font-size: 20px;}
.subject-to {font-size: 12px !important; color: #555555; font-weight: 400;}
.legend {border-top: 1px solid #999; padding-top: 15px; margin-bottom: 0; margin-top: 0px;}
.price-menu {width: 100%; clear: both; overflow: hidden; margin: 0 auto; max-width: 572px; padding: 6px 0;}
.price-menu span {float: left; display: block; line-height: 1.3em; font-weight: 700;}
.price-menu .execphpwidget {float: left;}
.price-menu .menu {list-style-type: none; padding: 0; overflow: hidden; line-height: 1.3em;}
.price-menu .menu li {float: left; padding: 0 5px; border-right: 1px solid #000; display: block;}
.price-menu .menu li:last-of-type {border-right: none;}
.price-menu .menu li.current_page_item {font-weight: 700;}
.price-menu .menu li a {color: #000;}

.recipe-action {max-width: 1160px !important; margin: 0 auto !important;}
body #cooked-plugin-page .recipe-action #cooked-sharing-block {padding-left: 220px;}

@media screen and (max-width: 1200px) {
   body #cooked-plugin-page .recipe-action #cooked-sharing-block {padding-left: 25%;}
}

@media screen and (max-width: 990x) {
    #fresh-seafood-list {font-size: 16px;}
}

@media screen and (max-width: 821px) {
   body #cooked-plugin-page .recipe-action #cooked-sharing-block {padding-left: 0;}
}

@media screen and (max-width: 767px) {
    #fresh-seafood-list {font-size: 15px;}
    body #cooked-plugin-page .recipe-action #cooked-sharing-block {padding-top: 15px;}
}

@media screen and (max-width: 550px) {
    #fresh-seafood-list {font-size: 14px;}
    #name.table-list-3 {width: 100%; margin-bottom: 5px;}
    #location.table-list-3 {width: 100%;}
}


.price-list li {width: 100%; display: block; overflow: hidden;}
.pl-title,
.pl-icons {float: left;}
.pl-title,
.pl-price {line-height: 1.65em !important;}
.pl-title {width: 65%;}
.pl-icons {width: 15%; max-width: 80px; line-height: 1em; min-width: 70px;}
.pl-icons .description,
.pl-icons .cooking-instructions,
.pl-icons .recipes {width: 33%; float: left; padding: 3px;}
.pl-icons img {width: 100%; height: auto;}
.pl-price {width: 20%; padding-left: 5px; float: right; text-align: right;}
.pl-icons .description div[alt]:hover:after {
  content: attr(alt);
  padding: 4px 8px;
  color: #FFF;
  font-weight: 700;
  position: absolute;
  z-index: 20;
  max-width: 400px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
left: 0;
margin-left: 0px;
margin-top: 1.6em;
text-shadow: 0 0 2px #000;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcb55c+0,e8ad66+100 */
background: #fcb55c; /* Old browsers */
background: -moz-linear-gradient(top, #fcb55c 0%, #e8ad66 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcb55c), color-stop(100%,#e8ad66)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcb55c 0%,#e8ad66 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcb55c 0%,#e8ad66 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcb55c 0%,#e8ad66 100%); /* IE10+ */
background: linear-gradient(to bottom, #fcb55c 0%,#e8ad66 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb55c', endColorstr='#e8ad66',GradientType=0 ); /* IE6-9 */
}

@media screen and (max-width: 1133px) {
    .pl-title {width: 60%;}
    .pl-icons {width: 20%;}
    .pl-price {width: 20%;}
}

@media screen and (max-width: 856px) {
    .pl-title {width: 100%;}
    .pl-icons {width: 50%;}
    .pl-price {width: 50%; text-align: right; float: right;}
}

@media screen and (max-width: 650px) {
    .pl-title {width: 60%;}
    .pl-icons {width: 20%;}
    .pl-price {width: 20%; text-align: left; float: left;}
}
@media screen and (max-width: 410px) {
    .pl-title {width: 100%;}
    .pl-icons {width: 40%;}
    .pl-price {width: 60%; float: right; text-align: right;}
}
.iphorm_3_1-element-wrap {
	background: #D0D0D0;
	max-width: 570px;
	padding: 10px;
	border-radius: 10px;
}

.iphorm_3_1-element-wrap label{
	font-weight: 700;
	font-size: 24px;
	width: 75% !important;
	color: #000;
	margin-bottom: 0 !important;
}

.iphorm_3_1-element-wrap label span {font-size: 24px !important;}

.iphorm_3_1-element-wrap .iphorm-element-spacer {padding-bottom: 0;}

#wc_constant_contact_subscribe_field input[type=checkbox] {margin: -5px 220px 0; box-shadow: none;}

.iphorm_8_1-element-wrap {
	background: #D0D0CE;
	border-radius: 10px;
	width: 385px;
	padding: 10px;
}

.iphorm_8_1-input-wrap {
	float: none;
	display: block;
	clear: both;
}

.iphorm_8_1-element-wrap label {
	width: 100% !important;
}

.iphorm-submit-wrap button {
	background-color: #971c1d;
    background-image: url(/wp-content/themes/mcgonigles/img/btn-bg-light.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight: bold;
    line-height: 1em;
    margin: 15px 0;
    padding: 8px 25px 12px;
    text-align: center;
    text-shadow: 1px 1px 0 #2b2b27;
}
.iphorm-submit-wrap button em,
.iphorm-submit-wrap button span {
	color: #fff;
	background-color: transparent;
	border: none;
}
.iphorm-submit-wrap button:hover,
.iphorm-submit-wrap button:focus {
  background-color: #971c1d;
  background-image: url(/wp-content/themes/mcgonigles/img/btn-bg-light.png);
  padding: 8px 25px 12px;
}
.iphorm-submit-wrap button:hover span,
.iphorm-submit-wrap button:hover em,
.iphorm-submit-wrap button:focus span,
.iphorm-submit-wrap button:focus em,
.iphorm-submit-wrap button:active span,
.iphorm-submit-wrap button:active em {
  background-color: transparent;
}

/* Panel styles for product pages */
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-group {
  clear: both;
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #dddddd;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
.collapse-indicator {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: transform .15s ease-out;
  transition: transform .15s ease-out;
}
.collapsed .collapse-indicator {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* Shopping cart header */
.header-cart-wrapper {
	color: #fcb45c;
	display: inline-block;
	position: relative;
	padding-right: 16px;
}
.header-cart-count {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
  display: inline-block;
  height: 16px;
  min-width: 16px;
  padding: 1px 0;
  font-size: 9px;
  color: #fff;
  background-color: #971c1d;
  line-height: 14px;
  border-radius: 50%;
  text-align: center;
}
header#header #user-actions ul > li + li {
	border-left: 1px solid #fcb45c;
	padding-left: 10px;
}
header#header #user-actions a {
	color: #fcb45c;
	border-right: none;
}
.navbar-header .header-cart-wrapper {
  display: none;
}
@media (max-width: 768px) {
  .navbar-header .header-cart-wrapper {
    display: block;
    color: #fff;
    float: left;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-header .header-cart-wrapper:after {
    content: "Cart";
    display: block;
    margin-left: 3px;
    font-size: 10px;
    text-align: center;
  }
}

/* Holiday menu item */
#section-funnel ul li#fnl-holiday a {
	background-image: url(/wp-content/uploads/2016/12/Holiday-Ordering.png);
  background-position: 0 0;
  width: 167px;
}
@media (max-width: 768px) {
	#funnel-mobile ul li#fm-holiday a {
	  background: url(/wp-content/themes/mcgonigles/img/mobile-holiday-order.png);
	}
}
