/**
 * @license
 * MyFonts Webfont Build ID 3068773, 2015-07-31T16:01:26-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: NexaRustScriptB-03 by Fontfabric
 * URL: http://www.myfonts.com/fonts/font-fabric/nexa-rust/script-b-03/
 * Copyright: Copyright &#x00A9; 2014 by Fontfabric. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3068773
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("https://hello.myfonts.net/count/2ed365");

  
@font-face {font-family: 'NexaRustScriptB-03';src: url('https://www.mcgonigles.com/wp-content/themes/mcgonigles/fonts/webfonts/2ED365_0_0.eot');src: url('https://www.mcgonigles.com/wp-content/themes/mcgonigles/fonts/webfonts/2ED365_0_0.eot?#iefix') format('embedded-opentype'),url('https://www.mcgonigles.com/wp-content/themes/mcgonigles/fonts/webfonts/2ED365_0_0.woff2') format('woff2'),url('https://www.mcgonigles.com/wp-content/themes/mcgonigles/fonts/webfonts/2ED365_0_0.woff') format('woff'),url('https://www.mcgonigles.com/wp-content/themes/mcgonigles/fonts/webfonts/2ED365_0_0.ttf') format('truetype');}
 